input:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #10182A !important; /* Your background color */
    -webkit-text-fill-color: #fff !important;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s;
  }
  